@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
}
a {
    font-size: 4min;
    color: white;
    text-decoration: none;
    margin: 15px 0;
}
ul {
    list-style: none;
}
body,
html {
    font-family: "Noto Sans TC", sans-serif;
    overflow-x: hidden;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url("./image/banner.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px;
}
.header-content h1 {
    font-size: 7vmin;
}
.header-content h2 {
    font-size: 3vmin;
}
.header-content .line {
    margin: 15px auto;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 20px;
    color: white;
    justify-content: space-between;
}
.nav-links {
    display: flex;
}
.nav-links li {
    margin: 0 30px;
}
.line {
    width: 150px;
    height: 5px;
    background: #26bec9;
}
.ctn {
    padding: 8px 15px;
    background: #26bec9;
    border-radius: 20px;
    color: white;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* event */
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row {
    display: flex;
    width: 100%;
}
.row .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.event .line {
    margin: auto;
}
.event h2 {
    margin: 15px 0;
}

.row .col p {
    width: 60%;
    letter-spacing: 2px;
}
.event figure {
    width: 80%;
    height: 400px;
}
.event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* explore */
.explore {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./image/beitou.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content {
    width: 30%;
    padding: 80px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1 {
    font-size: 6vmin;
}
.explore-content .line {
    margin: 15px auto;
}
.explore-content p {
    color: rgb(221, 221, 223);
}
.explore-content .ctn {
    margin-top: 40px;
}

.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}
.tour .img-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.img-gallery img {
    max-width: 320px;
    margin: 10px;
    border-radius: 10px;
}
.content-col h1 {
    font-size: 7vmin;
    color: #49497e;
}
.content-col .line {
    margin-left: -1px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}

/* footer */
.footer {
    width: 100%;
    min-height: 100px;
    margin: 0;
    padding: 10px 0;
    background: rgb(51, 51, 51);
}
.footer .row {
    width: 80%;
    margin: auto;
}
.footer h3 {
    font-weight: 400;
    color: white;
}

.footer-line {
    width: 50px;
    height: 3px;
    margin: 10px 0;
    background: #26bec9;
}

.footer-content li {
    margin: 10px 0;
}

/* Mobile */
@media only screen and (max-width: 850px) {
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 40px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #26bec9;
        margin-top: -1500px;
        transition: 0.5s ease;
    }
    .menu-btn {
        display: block;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 30px auto;
    }
    .events .row {
        flex-wrap: wrap;
    }
    .row {
        flex-direction: column;
    }
    .col img {
        max-width: 90%;
    }
    .tour .col {
        width: 100%;
    }
    .img-gallery {
        justify-content: center;
        align-items: center;
    }
    .img-gallery img {
        width: 80%;
    }
    .footer .col {
        align-items: flex-start;
    }
}
img {
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.1);
}
